@import url("https://cdn.syncfusion.com/ej2/material.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #F9F7F7;
  padding: 0 16px;
  color: #112D4E;
}

header {
  background-color: #DBE2EF;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

header h3 {
  color: #112D4E;
  font-family: "McLaren", cursive;
  font-weight: 900;
}

.note {
  background: #F9F7F7;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 15px;
  min-width: 340px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 25px;
}
.note h1 {
  font-size: 1.5em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  border: none;
  width: auto;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  color: #ccc;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #3f71af;
}

.addTodos {
  position: relative;
  max-width: 480px;
  margin: 30px auto 20px auto;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.addTodos input,
.addTodos textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color: #F9F7F7;
  color:#112D4E;
  
}
.addTodos input::placeholder,
.datepicker::placeholder,
.addTodos textarea::placeholder{
  color:#3f71afa4 !important; 
}
.addCircle{
  font-size: 35px !important;
 color:#3f71afe1 !important;
}
.tabs{
  color:#112D4E !important
}
form{
  background-color: #Fff;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #3F72AF;
  color: #F9F7F7;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.mb-5{
  margin-bottom: 5px;
}